![](../images/cs101.png)
***

# 03 - Lesson : Variables

# 0 - Coding Examples in This Lesson

There are many small coding examples in this lesson.  I would strongly suggest that you type these examples in Thonny (or your Python IDE) to better understand the code.

# 1 - Objectives and Goals

Students will:

- be able to use strings, integers and floats.

# 2 - Preparation

None

# 3 - Lesson Details

Variables are used to hold data in a program.  We will be covering three of the basic data types in this lesson.  All variables must be given a meaningful name.

## Naming Conventions

- There are various naming conventions used in Python and other programming languages. The two common ones we will see are lowercase_with_underscore and mixedCase (aka lowerCamelCase).

- For consistency, we should stick to the mixedCase convention. Multi-word names should start with a lowercase letter, and each new word should start with a capital letter. You can never have a space within a name.

- Except for for loop variables, do not use single letter variables.

```python
sumOfSquares
printHappyBirthday
totalApples
```

### Names to Avoid

- Never use the characters `l' (lowercase letter el), `O' (uppercase letter oh), or `I' (uppercase letter eye) as single character variable names.
In some fonts, these characters are indistinguishable from the numerals one and zero.

- In general, try to avoid using single character names. There are some times when using x, y, z for axis names, or a, b, c for the sides of a triangle will make sense. For most other cases, create names that have meaning for their function

### Spaces around Operators

Always surround these binary operators with a single space on either side: assignment (=), augmented assignment (+=, -= etc.), comparisons (==, <, >, !=, <>, <=, >=, in, not in, is, is not), Booleans (and, or, not).

**Good Examples**:

```Python
x = 9
apples = 5
name = 'John'
sum = value1 + value2
```

**Bad Examples** (Where you will lose points if you do this):

```Python
x=9
apples =5
name= 'John'
sum = value1+value2
```

## 3.1 - Strings

String are used to contain letters or text.  In your first program 'Hello World' is a string.

### Single or double quotes

Strings must start and end with the same type of quote.  Most Python programmers use single quotes for strings.

```python
name = 'John Brown'
```

You can also use double quotes.

```python
name = "John Brown"
```

The main issue is that the quotes must match.  If you need a quote in your text, use the other type of quote for the whole string.

```python
name = "I'm John Brown"
text = 'This is a quote from John "Hello World"'
```

### String Operations

#### + Operator or Concatenation

Strings can be "added" together or concatenated

In [3]:
text1 = 'abc'
text2 = '123'
newText = '***' + text1 + text2 + '***'
print(newText)

***abc123***

#### [] Operator

The square brackets are used to access letters or a sub-string in a string.  Reminder that programmers start counting from zero.

In [4]:
name = 'John'
print('The first letter in {} is {}'.format(name, name[0]))

The first letter in John is J

## 3.2 - Integers

An integer represents a whole number - both negative and positive.

```python
apples = 5
temperature = -8
studentsInClass = 40
```

### Displaying Integers

Display integers is like displaying strings.

In [5]:
# display two numbers
print(34, 23)

34 23

In [6]:
# Display the sum of two numbers
print(34 + 23)

57

In [7]:
# Display an integer with thousands' commas
value = 123456789
print('{:,}'.format(value))

123,456,789

In [8]:
# Display an integer centered within 20 spaces
# This is like centering a string from last lesson.  
# Notice the 'd' in the format section
value = 123456789
print('{:^20d}'.format(value))

     123456789

### Integer Math

You can do math operations on integers.  The results are different than normal math you learnt in school.  The results of adding, subtracting and multiplication of two integers is always an integer.  Division is different, see below in the lesson.

**Adding, subtracting and multiplication**

In [9]:
# Addition
print('The sum of 34 + 23 is:', 34 + 23)

The sum of 34 + 23 is: 57

In [10]:
# Addition
print('The sum of 34 + 23 + 99 + 12 is:', 34 + 23 + 99 + 12)

The sum of 34 + 23 + 99 + 12 is: 168

In [11]:
# Subtraction
print('The difference of 34 - 23 is:', 34 - 23)

The difference of 34 - 23 is: 11

In [12]:
# Multiplication
print('The product of 34 * 23 is:', 34 * 23)

The product of 34 * 23 is: 782

In [13]:
# +, - and *
print('The product of 99 + 2 * 4 / 3 is:', 99 + 2 * 4 / 3)

The product of 99 + 2 * 4 / 3 is: 101.66666666666667

In [14]:
# +, - and * with parentheses
print('The product of ((99 + 2) * 4) / 3 is:', ((99 + 2) * 4) / 3)

The product of ((99 + 2) * 4) / 3 is: 134.66666666666666

**Integer Division**

There are two division operators that you can apply to integers.

/ or Division Operator

This operator results in a float as the answer.

In [15]:
print(20 / 3)

6.666666666666667

In [16]:
# Division
print('The results of 34 / 23 is:', 34 / 23)

The results of 34 / 23 is: 1.4782608695652173

// or Remaining Operator

This operator results in an integer as the answer where it represents the whole part of the division.

In [17]:
# "How many whole 3s are there in 20?"
print(20 // 3)

6

In [18]:
# Division
print('The results of 34 // 23 is:', 34 // 23)

The results of 34 // 23 is: 1

## 3.3 - Floats

The last data type for this lesson is called a float or floating point number.  In math, is it also called a real number.

```python
exchangeRate = 1.07
pi = 3.14159
temperature = -10.3
```

### Float Math

You can do math operations on floats. The operators +, -, * and / all result in a float for the answer.

In [19]:
# Division
print('The results of {} / {} is: {}'.format(34, 23, 34 / 23))

The results of 34 / 23 is: 1.4782608695652173

In [20]:
# Division - 2 decimal points
print('The results of {} / {} is: {:.2f}'.format(34, 23, 34 / 23))

The results of 34 / 23 is: 1.48

In [21]:
# Division - 4 decimal points
print('The results of {} / {} is: {:.4f}'.format(34, 23, 34 / 23))

The results of 34 / 23 is: 1.4783

# 4 - Lesson Review

Variables are required to allow programs to work with data.  As a programmer, you must select which type of variables that you need.