![](../images/cs101.png)
***

# 09 - Lesson : Loops (Part 1)

# 0 - Coding Examples in This Lesson

There are many small coding examples in this lesson.  I would strongly suggest that you type these examples in Thonny (or your Python IDE) to better understand the code.

# 1 - Objectives and Goals

Students will:

- be able to create and implement for loops

# 2 - Preparation

For this lesson, please review and read:

- None

# 3 - Lesson Details

This lesson introduces `for` loops in Python.  A `for` loop is used to repeat statements a given number of times. 

## Version 1

```python
# for loop
for variable in range(stop):
    statements
```

**variable**

The `for` loop in this format, uses a variable to keep track of the current iteration of the loop.  This variable can be used in the statements of the loop.

**stop**

This is a number that indicates when the loop will end or stop.  This format will assume that the `for` loop will start at value zero.  Note that the value of this stop value is **NOT** included in the loop count.  For example: range(3) includes values 0, 1 and 2.


**statements**

These are one to many Python statements.  All statements for a `for` loop must be indented.  Notice the ":" at the end of the `for` loop line before the statements.


## Version 2

```python
# for loop
for variable in range(start, end, step):
    statements
```

**start**

The loop will start with this value.  This means that the first time through the loop, the variable will be set to the value of start.

**end**

This is a number that indicates when the loop will end or stop.  This format will assume that the `for` loop will start at value zero.  Note that the value of this stop value is **NOT** included in the loop count.

**step**

While the `for` loop is going through the range of values (ie., 'start' to 'end'), the loop will jump or step this amount.

# 3.1 - for loop examples

The best method of understanding for loops is to write code with them.  Please copy the following examples into Thonny to run them yourself.

In [2]:
# Display Hello World 5 times
for i in range(5):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
# Display three print statements 3 times.  Notice that the three lines are indented.
for i in range(3):
    print('Line 1')
    print('Line 2')
    print('-' * 10)

Line 1
Line 2
----------
Line 1
Line 2
----------
Line 1
Line 2
----------

In [4]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [5]:
# Prints out the numbers 0 1 2 3 4
for x in range(5):
    print(x, end=' ')
print()

0 1 2 3 4

In [6]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [7]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

In [8]:
# Prints out 8, 6, 4
for x in range(8, 3, -2):
    print(x)

8
6
4

In [9]:
# Display 10 star characters
print('*' * 10)

**********

In [10]:
# Display the same 10 star characters using a for loop
for i in range(10):
    print('*', end='')
print()

**********

In [11]:
# Add values from range 0 to 5
total = 0
for i in range(6):
    total += i
    print('i = {}, total = {}'.format(i, total))
print('total is', total)

i = 0, total = 0
i = 1, total = 1
i = 2, total = 3
i = 3, total = 6
i = 4, total = 10
i = 5, total = 15
total is 15

In [12]:
# Display all numbers that are factors of 13 under 100
for i in range(100):
    if (i % 13 == 0):
        print(i)

0
13
26
39
52
65
78
91

In [1]:
# Display all numbers that are factors of 13 under 100
for i in range(0, 100, 13):
    print(i)

0
13
26
39
52
65
78
91

In [2]:
# Tranverse all of the letters of a string using a for loop
# Here, the variable "letter" will be each letter of the string name, one at a time
name = 'John Brown'
for letter in name:
    print(letter)

J
o
h
n

B
r
o
w
n

In [3]:
# Tranverse all of the letters of a string using a for loop using indexing
name = 'John Brown'
for i in range(len(name)):
    print(name[i])

J
o
h
n

B
r
o
w
n

In [6]:
# Display 5 x 5 grid of 'X' characters
print('This is a 5 x 5 grid')

value = 1
for row in range(5):
    # Start the line with the row number
    print('Row {}:'.format(row + 1), end='')
    
    # display 'X' characters with a width of 3 spaces (ie., {:>3})
    for col in range(5):
        print('{:>3}'.format(value), end='')
        value += 1
        
    # end the current line
    print()

print('All done!!')

This is a 5 x 5 grid
Row 1:  1  2  3  4  5
Row 2:  6  7  8  9 10
Row 3: 11 12 13 14 15
Row 4: 16 17 18 19 20
Row 5: 21 22 23 24 25
All done!!

In [21]:
import random

# Go through 5,000 random values displaying pairs of numbers where one number is half the next value
# ie: ... 50, 34, 100, 200, 2, 665, ... would display 100 and 200
lastValue = 0
for i in range(5000):
    # Get new random value
    value = random.randint(1, 1000)
    
    # is the last value half the new value
    if ((lastValue * 2) == value):
        print('{} is half of {}'.format(lastValue, value))
        
    lastValue = value

22 is half of 44
336 is half of 672
301 is half of 602

# 4 - Lesson Review

`for` loops are traditionally used when you have a block of code which you want to repeat a fixed number of times. The Python `for` statement iterates over the numbers of a sequence in order, executing the block each time.

- [For loop Video](https://www.youtube.com/watch?v=9LgyKiq_hU0)